<section class="content-header">
<h1>
  <%= t(:editing_status) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <%= render 'form', :status => @reports_status %>
</section>
