<section class="content-header">
<h1>
  <%= t(:new_sub_category) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <%= render 'form', :sub_category => @reports_sub_category %>
</section>

