FACEBOOK_APP_ID: "YOUR_FACEBOOK_APP_ID"
FACEBOOK_SECRET_ID: "YOUR_FACEBOOK_SECRET_ID"
GOOGLE_MAP_API_KEY: "YOUR_GOOGLE_MAP_API_KEY"
GOOGLE_ANALYTICS_TRACKER: "YOUR_GOOGLE_ANALYTICS_TRACKER"
TWITTER_CONSUMER_KEY: "YOUR_TWITTER_CONSUMER_KEY"
TWITTER_CONSUMER_SECRET: "YOUR_TWITTER_CONSUMER_SECRET"
TWITTER_ACCESS_TOKEN: "YOUR_TWITTER_ACCESS_TOKEN"
TWITTER_ACCESS_TOKEN_SECRET: "YOUR_TWITTER_ACCESS_TOKEN_SECRET"
