<section class="content-header">
<h1>
  <%= t(:new_category) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <%= render 'form', :category => @reports_category %>
</section>

