<section class="content-header">
<h1>
  <%= t(:viewing_newsletter_email) %>
</h1>
</section>

<section class="content">
  <%= display_notice notice %>
  <%= render 'form', :newsletter => @newsletter %>
</section>
